body,
p {
  margin: 0;
}

img {
  width: 100%;
  vertical-align: top;
}

a {
  display: block;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.description {
  padding-top: 24px;
  padding-bottom: 48px;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.section-header {
  font-family: "Alfa Slab One", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 24px;
}

.section-bottom-btn {
  box-sizing: border-box;
  width: 295px;
  height: 56px;
  border: 1.5px solid #161A1C;
  border-radius: 8px;
  margin-top: 32px;
  margin-bottom: 24px;
}


.section-bottom-btn a {
  font-family: "Alfa Slab One", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #111111;
}


.last-call-btn {
  box-sizing: border-box;
  width: 295px;
  height: 56px;
  border: 1.5px solid #161A1C;
  border-radius: 8px;
  margin-bottom: 80px;
  background-color: #161A1C;
}


.last-call-btn a {
  font-family: "Alfa Slab One", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #f0f5f7;
}


.footer {
  padding: 32px 24px 64px;
  gap: 12px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: #8a9399;
  color: #f0f5f7;
}

.footer p {
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.1px;

  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  color: #f7fafc;
}


/* START merchant list style */
.merchant__list {
  padding: 0 18px;
  /* background-color: black; */
}

.merchant__box {
  display: flex;
  min-height: 130px;
  padding: 6px 6px;
  box-sizing: border-box;
}

.merchant__image img {
  aspect-ratio : 1 / 1;
  object-fit: cover;
  display: block;
  width: 100%;
  border-radius: 6px;
  box-shadow: 1px 10px 9px 0px rgba(2, 15, 15, 0.1);
}

.merchant__content--style-2 .merchant__title {
  margin: 0;
  font-family: Mulish;
  color: #222729;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  padding-bottom: 2px;

  /* max 2 lines for title */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2; 
  -webkit-box-orient: vertical;
}


.merchant__content--style-2 .merchant__highlight {
  font-family: 'Mulish', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: #161A1C;


  /* max 2 lines for title */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.merchant__list--style-2 {
  display: flex;
  flex-wrap: wrap;
}

.merchant__list--style-2 .merchant__box {
  width: 50%;
  flex-direction: column;
}


.merchant__list--style-2 .merchant__image img {
  /* border-radius: 4px 4px 0 0; */
  box-shadow: none;
}

.merchant__list--style-2 .merchant__content {
  padding: 8px 0px;
  /* background-color: gray; */
  /* border-radius: 0 0 4px 4px; */
  overflow: hidden;
  flex: 1 1 auto;
  /* box-shadow: 1px 10px 22px 0px rgba(156, 156, 156, 0.15); */
}
/* END merchant list style */

@media screen and (min-width: 375px) {
  /* .accordion {
    padding: 17px 43px 16px 20px;
    font-size: 15px;
  }

  .accordion .arrow-icon {
    top: 16px;
    right: 15px;
    width: 23px;
    height: 23px;
  } */
}

@media screen and (min-width: 768px) {
  /* .accordion {
    padding: 33px 95px 33px 50px;
    font-size: 30px;
  }

  .accordion-block {
    padding: 8px 50px;
  }

  .accordion .arrow-icon {
    top: 27px;
    right: 40px;
    width: 45px;
    height: 45px;
  } */
}

@media screen and (min-width: 1024px) {
  /* .accordion-block {
    padding: 8px 60px;
  }

  .accordion {
    margin-bottom: 40px;
    padding: 43px 115px 43px 50px;
    font-size: 48px;
  }

  .accordion .arrow-icon {
    top: 40px;
    right: 52px;
    width: 60px;
    height: 60px;
  } */
}
